._1280,
._1280 * {
  box-sizing: border-box;
}
._1280 {
  background: #ffffff;
  height: 1881px;
  position: relative;
  overflow: hidden;
}
.rectangle-19 {
  background: linear-gradient(
    170.23deg,
    rgba(255, 255, 255, 0.32) 0.6555660162121058%,
    rgba(16, 52, 182, 0.32) 100%
  );
  width: 1280px;
  height: 1881px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-18 {
  background: #ffffff;
  border-radius: 10px;
  width: 1159px;
  height: 1747px;
  position: absolute;
  left: calc(50% - 579px);
  top: calc(50% - 873.5px);
}
.div {
  color: #0c257f;
  text-align: center;
  font-family: var(--h3-font-family, "Unbounded", sans-serif);
  font-size: var(--h3-font-size, 64px);
  line-height: var(--h3-line-height, 70px);
  font-weight: var(--h3-font-weight, 300);
  position: absolute;
  left: calc(50% - 422px);
  top: 109px;
  width: 844px;
  height: 149px;
}
._1 {
  border-radius: 5px;
  width: 344.59px;
  height: 244px;
  position: absolute;
  left: calc(50% - 171px);
  top: 1536px;
  object-fit: cover;
}
.vector {
  width: 3.2%;
  height: 2.18%;
  position: absolute;
  right: 1.48%;
  left: 95.31%;
  bottom: 96.76%;
  top: 1.06%;
  overflow: visible;
}
